<nav class="navbar">
  <div class="nav-left">
    <span class="title">Library Management</span>
  </div>
  <ul class="nav-links">
    <li *ngFor="let item of navItems">
      <a [routerLink]="item.route" routerLinkActive="active">{{ item.label }}</a>
    </li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>

  <div class="mobile-menu-icon" (click)="toggleMenu()">
    <span class="material-icons">menu</span>
  </div>
</nav>

<div class="mobile-dropdown" [class.show]="isMenuOpen">
  <a 
    *ngFor="let item of navItems" 
    [routerLink]="item.route" 
    routerLinkActive="active"
    (click)="toggleMenu()">
    {{ item.label }}
  </a>

  <a (click)="logout()">Logout</a>
</div>

