.filter-row {
  width: 90%;
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 14px;
  justify-content: space-between;
  margin-top: 120px;
}

.radio {
  margin-left: 20px;
}

.top-btns {
  display: flex;
  gap: 10px;
}

.add-btn,
.user-btn {
  padding: 6px 14px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.add-btn {
  background: #0d6efd;
}

.user-btn {
  background: #0077b6;
}

.section-title {
  width: 200px;
  background: #2e8b57;
  color: white;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
  margin: 20px auto;
  font-weight: 600;
}

.book-grid {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  gap: 20px;
}

.book-card {
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.book-img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-radius: 6px;
}

.book-card h3 {
  margin: 10px 0 6px;
  font-size: 18px;
}

.desc {
  color: #555;
  font-size: 13px;
  height: 50px;
  overflow: hidden;
}

.price {
  font-weight: 600;
  margin-top: 5px;
}

.status {
  font-size: 13px;
  font-weight: 600;
  color: green;
}

.status.out {
  color: red;
}

.edit-btn {
  width: 100%;
  margin-top: 8px;
  background: #2e8b57;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 480px) {

  .filter-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 12px;
    margin-top: 80px;
  }

  .radio {
    margin-left: 0;
  }

  .top-btns {
    width: 100%;
    justify-content: space-between;
  }

  .add-btn,
  .user-btn {
    padding: 6px 10px;
    font-size: 12px;
  }

  .section-title {
    width: 150px;
    padding: 6px;
    font-size: 14px;
  }

  .book-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .book-img {
    height: 220px;
  }

  .book-card h3 {
    font-size: 16px;
  }

  .desc {
    font-size: 12px;
    height: auto;
  }

  .edit-btn {
    font-size: 14px;
    padding: 8px;
  }
}
